.status-line {
    font-size: 25px;
    line-height: 2.5em;
    border-bottom: 1px solid #DDD;
    font-variant: all-petite-caps;
    text-shadow: 1px 1px #CCC;
}

.status-line.green {
    background-color: #f0f7f0;
}

.status-line.red {
    background-color: #f2dedf;
}