.status-line {
    font-size: 20px;
    line-height: 2.5em;
    border-bottom: 1px solid #DDD;
}

.status-line.green {
    background-color: #f0f7f0;
}

.status-line.red {
    background-color: #f2dedf;
}